.delete-button-style {
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
}

.label-button-style {
    -fx-cursor: hand;
    -fx-text-fill: #005880;
}

.label-err-style {
    -fx-cursor: hand;
    -fx-text-fill: red;
}

.tooltip-font-size {
    -fx-font-size: 12px;
}

.checkBox-setting-style {
    -fx-cursor: hand;
    -fx-pref-height: 25;
    -fx-pref-width: 320;
}

.checkBox-short {
    -fx-cursor: hand;
    -fx-pref-height: 25;
    -fx-pref-width: 270;
}

.hBox-short {
    -fx-spacing: 5;
    -fx-pref-width: 270;
}

.cadetblue-button {
    -fx-background-color: cadetblue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.cadetblue-button:focused {
    -fx-border-color: #039ED3;
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.cadetblue-button:hover {
    -fx-background-color: derive(cadetblue, 20%);
}

.cornflowerblue-button {
    -fx-background-color: cornflowerblue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.cornflowerblue-button:focused {
    -fx-border-color: #039ED3;
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.cornflowerblue-button:hover {
    -fx-background-color: derive(cornflowerblue, 20%);
}

.hotpink-button {
    -fx-background-color: hotpink;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.hotpink-button:focused {
    -fx-border-color: #039ED3;
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.hotpink-button:hover {
    -fx-background-color: derive(hotpink, 20%);
}

.img-button-style {
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
}