.delete-button-style {
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
}

.label-button-style {
    -fx-cursor: hand;
    -fx-text-fill: #005880;
}

.tooltip-font-size {
    -fx-font-size: 12px;
}

.checkBox-setting-style {
    -fx-cursor: hand;
    -fx-pref-height: 25;
    -fx-pref-width: 320;
}